.eventContainer {
    padding-left: 1%;
    margin-bottom: 1%;

    div {
        div {
            display: inline-block;
            padding: 1px 4px;

            div {

                &,
                div {
                    display: inline-block;

                }
            }
        }
    }
}

.userInput {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    min-width: 49px;
    padding: 2px 5px;
}

.legGrouping, .finalGrouping {
    border: 1px solid gray;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
  }

.calculateButton {
    margin-left: 5px;
}